.team-member {
    height: 50rem;
    width: 50rem;
}

.team-member img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.footer-tittle li {
    color: var(--white);
}
.logo-container {
    width: 150px;
    height: 30px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}
